<div class="tab">
  <button class="tablinks" onclick="displayShipmentAll()">Shipment Info</button>
  <button class="tablinks" onclick="displayTruckAll()">Truck Info</button>
  <button class="tablinks" onclick="displayAll()">Driver Info</button>
    <button class="tablinks" onclick="displayRouteAll()">Route Info</button>
    <textarea id="searchtext" style="margin-top: 10px;" rows="1" cols="10">
</textarea>
<button onclick="search()" style="float:left !important">Search</button>
<input type="text" style="float:center;" name="datetimes" value="01/01/2018 - 01/15/2018" /> 
</div>

<style>
  

  .tab {margin-left: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
